{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    {% if session.user_id == Null %}
    <div class="col-md-5 p-lg-5 mx-auto my-5 text-left">
        <h1 class="display-4 font-weight-normal">myHike</h1>
        <p class="lead font-weight-normal">Sign up today and start tracking your hikes for free!</p>

        <a class="btn btn-outline-secondary" href="/register">Register</a></div>

    </div>

    {% endif %}

        <div class="col-md-5 p-lg-5 mx-auto my-5 text-left">
        <h1 class="display-4 font-weight-normal">Thank you!</h1>
        <p class="lead font-weight-normal">We're happy to have you as a member!</p>

    </div>
{% endblock %}