{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Stock</th>
                    <th>Bought/Sold</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Date/Time (UTC)</th>
                </tr>

                {% for item in userHistory %}
                    <tr>
                        <td>{{ item["stock"] }}</td>
                        <td>{{ item["boughtsold"] }}</td>
                        <td>$ {{ item["price"] }}</td>
                        <td>{{ item["quantity"] }}</td>
                        <td>{{ item["datetime"] }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    </form>


{% endblock %}