{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post" onSubmit=document.querySelector("#sellBtn").disabled=true>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stockSymbol" placeholder="Enter Stock Symbol" type="text">

        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="stockQuantity" placeholder="Enter Quantity" type="number">

        </div>
        <button id="sellBtn" class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}